.container {
    height: 100%;
    width: 100%;

    .panel {
        position: absolute;
        width: 40%;
        z-index: 2;
        left: 30%;
        top: 5%;

        input {
            width: 100%;
            height: 3em;
            outline: none;
            border: none;
            border-radius: 0;
            padding: 15px;
            font-size: 18px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
        }

        input::placeholder {
            color: rgba(0, 0, 0, 0.55);
        }
    }

    .button {
        position: absolute;
        display: flex;
        z-index: 2;
        left: 50px;
        bottom: 50px;

        button {
            font-size: 16px;
            border: none;
            outline: none;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
            width: 80px;
            height: 40px;
        }
    }

    .menubar {
        position: absolute;
        display: flex;
        z-index: 2;
        right: 0;
        width: 22%;
        height: 100%;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
        background-color: white;

        .pic {
            position: absolute;
            font-size: 14px;
            width: 100%;
            height: 200px;
            top: 0;
            background-color: rgba(167, 167, 167, 0.2);
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                height: 100px;
                opacity: 0.3;
                cursor: pointer;
            }
        }

        .footer {
            position: absolute;
            flex-direction: column;
            justify-content: center;
            padding-left: 25px;
            font-size: 14px;
            display: flex;
            width: 100%;
            height: 100px;
            bottom: 0;
            background-color: rgba(167, 167, 167, 0.2);

            a {
                padding: 2px;
                cursor: pointer;
            }
        }

        .content {
            position: absolute;
            top: 200px;
            width: 100%;
            padding: 15px;

            i {
                cursor: pointer;
            }

            .section {
                display: flex;

                .infos {
                    margin-left: 15px;

                    .big {
                        font-size: 24px;
                        margin: 11px 0 9px 0;
                        font-weight: 500;
                    }

                    .small {
                        font-size: 14px;
                        margin: 6px 0 6px 0;
                        line-height: 18px;
                    }
                }
            }
        }
    }

    .map {
        height: 100%;
        width: 100%;
        z-index: 1;
    }
}
